body{
    background-color: black;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
}

.project{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 70px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
    border-bottom: 2px solid grey;
}
#header-compo{
    display: flex;
    gap: 30px;
}

#inputs{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
    gap: 20px;
}
input{
    padding: 5px;
    background-color: black;
    border: none;
    border-bottom: 1px solid grey;
    color: white;
    font-size: large;
}

input:focus{
    outline: none;
}

#inputs button{
    width: 100px;
    padding:5px;
}

#successmsg{
    color: greenyellow;
    display: none;
}

#errmsg{
    color: red;
    display: none;
}